name: "publish"

on:
    push:
        branches:
            - master

jobs:
    publish:
        permissions:
            contents: write
        strategy:
            fail-fast: false
            matrix:
                platform: [macos-latest, ubuntu-24.04, windows-latest]

        runs-on: ${{ matrix.platform }}
        steps:
            - uses: actions/checkout@v4
            - name: setup node
              uses: actions/setup-node@v4
              with:
                node-version: 20

            - name: install Rust stable
              uses: dtolnay/rust-toolchain@stable

            - name: install dependencies (ubuntu only)
              if: matrix.platform == 'ubuntu24.04'
              run: |
                sudo apt-get updatge
                sudo apt-get install -y libgtk-3-dev libwebkit2gtk-4.0-dev libayatana-appindicator3-dev librsvg2-dev patchelf

            - uses: tauri-apps/tauri-action@v0
              env:
                GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              with:
                tagName: app-v__VERSION__ # tauri.conf.json の version を元にタグを生成
                releaseName: "Newton Scope v__VERSION__"
                releaseBody: "See the assets to download this version."
                releaseDraft: true
                prerelease: false
